{% if page.layout == 'single' %}
<div class="notice">
    <small>
        <p><b>Disclaimer</b></p>
        The information provided in here is for general information purposes only. All information on this page is
        provided in good faith, however HotelKini.com make no representation or warranty of any kind, express or
        implied, regarding the accuracy, adequacy, validity, reliability, availability or completeness of any
        information on this page. Please use with your own discretion and is solely at your own risk.
    </small>
</div>
{% endif %}